* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

/*DARK MODE STARTS*/
.middleColor {
	background-color: #27262C;
	display: flex;
	flex-wrap: wrap;
	color: white;
}

.imageColor {
		display: flex;
	flex-wrap: wrap;
	flex: 70%;
	justify-content: flex-end;
	background-color: #27262C;
}

.boxColor {
	flex: 25%;
	align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.boxColor img{
	width: 100%;
	padding: 20px;
}

.boxColor:hover {
	background-color: white;
	color: black;
}

.imageColor img {
	width: 80%;
	margin-top: -10%;
}

/*DARK MODE ENDS*/

span {
	padding: 5px;
	font-size: 2em;
	color: #ffbb00;
	cursor: pointer;
	margin-right: 15px;
	margin-left: 10px;
	border-radius: 50px;
	border: 1px solid #313415;
	background-color: #313415;
}

#container {
	display: flex;
	flex-wrap: wrap;
	background-color: #8B9E70;
}

nav {
	display: flex;
	flex-wrap: wrap;
	flex: 100%;
	justify-content: flex-end;
	
}

nav.mobile {
	display: none;
}



ul li {
	display: inline-block;
	list-style-type: none;
	color: white;
	font-size: 1.1em;
	padding: 10px;
	margin: 10px;
	cursor: pointer;

}

.login {
	background-color: #313415;
	border: 1px solid #313415;
	border-radius: 50px;
	margin-right: 10px;
	padding: 5px 20px 5px 20px;
}

.caption {
	flex: 30%;
	color: white;

}

.bigCaption {
	font-size: 2.5em;
	font-weight: bold;
	margin: 40px 0 0 40px;
	padding: 20px;
}

.smallCaption {
	margin: 0 0 0 40px;
	padding: 20px;	
}

button.buy {
	margin: 10px 0 30px 60px;
	padding: 8px 20px 8px 20px;
	background-color: #313415;
	border: 1px solid #313415;
	border-radius: 50px;
	color: white;
}

button.explore {
	margin: 10px 0 30px 10px;
	padding: 8px 20px 8px 20px;
	background-color: #8B9E70;
	border: 1px solid white;
	border-radius: 50px;
	color: white;
}
.image {
	display: flex;
	flex-wrap: wrap;
	flex: 70%;
	justify-content: flex-end;
	background-color: white;
}
.image img {
	width: 80%;
	margin-top: -10%;
}

.middle {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}

.box1 {
	flex: 25%;

}

.box {
	flex: 25%;
	align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  color: black;
}



.box1 {
	padding-left: 40px;
	text-align: left;
}

.box1 .smallCaption {
	font-size: 0.8em;
	color: #D2D2D2;
}
.box img{
	width: 100%;
	padding: 20px;
}

.box:hover {
	background-color: #F5F5F5;
}

.footer {
	background-color: #8B9E70;
	height: 3em;
}


@media screen and (max-width: 938px) {
  .caption, .image, .box, .boxColor, .imageColor {
  	flex: 100%;
  	align-items: center;
  justify-content: center;
  text-align: center;
  }

.bigCaption, .smallCaption, button.buy {
	margin-left: 0;
}
button.buy, button.explore {
	margin-bottom: 80px;
}
.image img, .imageColor img {
	width: 100%;
	margin-top: -15%;
}

.box1 {
	text-align: center;
	padding-left: 0;
}

.box img, .boxColor img {
	width: 70%;
	padding: 20px;
	margin: 20px;
}

nav.mobile {
	display: block;
}
nav.desktop {
	display: none;
}
/*Mobile nav styling*/
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #313415;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.mobile .openbtn {
	position: absolute;
	top: 30px;
	left: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
	/*border: 1px solid rgba(255,255,255,.8);*/
	border-radius: 5px;
	color: rgba(255,255,255,.5);
	background: rgba(0, 0, 0,0.0);
	padding: 3px;
	/*width: 5%;*/
}

.mobile h1 {
	position: absolute;
	top: 30px;
	left: 50px;
	margin-left: 50px;
	margin-top: 5px;
	transition: margin-left .5s;
	color: white;
	/*display: block;*/
	/*margin-bottom: 50px;*/
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#container {
  transition: margin-left .5s;
  padding: 16px;
  /*margin-top: 15px;*/
}

ul li {
	display: block;
}
}